/* CSS Document */
/*样式*/
.main form ul .left,.main form ul .right{float: left;}
.main ul{margin-bottom:.2rem;border-top: 1px solid #dfdfdf;}
.main ul li{height:.9rem;line-height:.9rem;border-bottom: 1px solid #dfdfdf;padding:0 5.4% 0 6.6%;text-align: left;}
.main form ul .left{
	width:18%;
	padding-right:4%;
	text-align: right;
	color:#3f3f3f;
}
.main form ul .right{
	width:78%;
}
.main form ul .right input{
	width:78%;
}
.main form ul .right img{
	width:30%;
	height:.53rem;
	line-height:.53rem;
}
.main form ul li:last-child .right input{
	width:56%;
}
form input[type="button"]{
	background:#e1e1e1;
	margin-top: .8rem;
	width: 66.67%;
    height: .8rem;
    color: #fff;
    text-align: center;
    border-radius: .1rem;
}