/* CSS Document */
/*样式*/
body{padding-bottom:1.9rem;}
.main form .order_info_list h3{padding-top:.1rem;height:.7rem;line-height:.7rem;font-size:.28rem;}
.main form .order_info_list h3 i{margin-right:.2rem;}
.main form .order_info_list li,.goods_money{line-height:.6rem;padding:.2rem 5%;text-align: left;}
.main form .order_info_list li a{height:auto;overflow: hidden;display:block;position:relative;}
.label{display:inline-block;margin-right: .2rem;}
.label input{opacity: 0;}
textarea{width: 100%;height:1.2rem;padding:.3rem 5% .1rem;border:none;outline:none;resize:none;box-sizing:border-box;}
h3{text-align: left;padding-left:5%;color:#515151;}

.main form .order_info_list>label{width:50%;line-height:.4rem;display:inline-block;padding:.2rem 5%;background: #fff;color:#343434;border-bottom:1px solid #f6f6f6;box-sizing: border-box;text-align: left;}
.main form .order_info_list>label:nth-child(2){border-right:1px solid #f6f6f6;}
.main form .order_info_list li .left{width:90%;float: left;}
.main form .order_info_list li .left span{float: right;}
.main form .order_info_list li .right{width:10%;height:.4rem;line-height:.4rem;color: #929292;font-size:.4rem;text-align: center;position:absolute;top:50%;right:0;margin-top: -.2rem;}


.main form .goods_list{background: #fff;padding:.1rem 0;}
.main form .goods_list h3{line-height:.6rem;padding:0 0 .1rem;margin-left: 5%;}
.main form .goods_list li{height:auto;overflow: hidden;padding:.18rem 2.5% .18rem 0;text-align: left;margin-left: 5%;border-top: 1px solid #e0e0e0;}
.main form .goods_list li .left,.main .goods_list li .right{float: left}

.main form .goods_list li .left{width:32%;text-align: center;position:relative;}
.main form .goods_list li .left img{height:2rem;width:2rem;}
.main form .goods_list li .left .word{width:100%;height:.4rem;line-height:.4rem;position: absolute;bottom:0;background: #000;opacity: 0.3;color:#fff;}

.main form .goods_list li .right{width:65%;line-height:.24rem;padding-left:3%;}
.main form .goods_list li .right h4{font-size:.3rem;line-height:.3rem;padding-bottom:.5rem;}
.main form .goods_list li .right>span{font-size:.3rem;padding-top:.6rem;color:#860a00;display:block;}
.main form .goods_list li .right>span .number{float: right;color:#030303;}
.main form .goods_list li .right i{float: right;font-size: .48rem}

.main form .goods_list li .bottom{width:100%;height:.8rem;line-height:.8rem;float: right;color:#a0100f;border-top:1px dashed #e1e1e1;margin: .16rem 0 0;}
.main form .goods_list li .bottom span{height:.36rem;line-height:.36rem;display:inline-block;margin:0 .2rem;padding:0 .12rem;border:1px solid #a0100f;border-radius:.1rem;}

.goods_money{background: #fff;margin-top:.1rem;color:#646464;}
.goods_money span{float: right;color:#8a011d;}

.foot{background: #fff}
.foot{height:.9rem;line-height:.9rem;border-top: 1px solid #e0e0e0;padding-left:2.6%;}
.foot .left{float: left;box-sizing: border-box;font-size:.32rem;color:#636363;}
.foot .left span{color:#8a011d;}
.foot .right{width:25%;height:.9rem;text-align: center;float:right;background:#8a011d;color:#fff;}
